if SHIELD_KLOR_DONGLE

    config ZMK_KEYBOARD_NAME
        default "KLOR"

    # Required because xiao_ble_sense does not enable ZMK BLE itself
    config ZMK_BLE
        default y

 #   config ZMK_SPLIT
 #       default y

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

    config ZMK_SPLIT_BLE
        default y

    config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
        default 2

    # 2 split peripherals + 5 host profiles
    config BT_MAX_CONN
        default 8

    config BT_MAX_PAIRED
        default 8

    config ZMK_USB
        default y

endif


if SHIELD_KLOR_LEFT || SHIELD_KLOR_RIGHT || SHIELD_KLOR_DONGLE

    config ZMK_SPLIT
        default y

endif
