#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
	chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &default_layout;

        left_encoder: encoder_left {
            compatible = "alps,ec11";
            label = "LEFT_ENCODER";
            steps = <24>;
            status = "disabled";
        };

        right_encoder: encoder_right {
            compatible = "alps,ec11";
            label = "RIGHT_ENCODER";
            steps = <24>;
            status = "disabled";
        };

        sensors {
            compatible = "zmk,keymap-sensors";
            sensors = <&left_encoder &right_encoder>;
            triggers-per-rotation = <6>;
        };
	};


	default_transform: keymap_transform_0 {
	    compatible = "zmk,matrix-transform";
	    columns = <12>;
	    rows = <4>;
	
	    map = <
	        // Top — 10
	        RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)
	        RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10)
	
	        // Home — 12
	        RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)
	        RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11)
	
	        // Bottom — 12
	        RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)
	        RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)
	
	        // Thumbs — 6
	        RC(3,1) RC(3,2) RC(3,3)
	        RC(3,8) RC(3,9) RC(3,10)
	    >;
};
		>;
	};

	kscan0: kscan {
		diode-direction = "col2row";
	};

    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "KLOR Konrad";

        transform = <&default_transform>;

		keys  //                     w   h     x    y      rot    rx    ry
        	// ───────────────────────── TOP ROW ─────────────────────────
        	// L01 L02 L03 L04 L05
        	= <&key_physical_attrs 100 100    91  139  (-1000)  141  189>
        	, <&key_physical_attrs 100 100   212   58   (-400)  262  108>
        	, <&key_physical_attrs 100 100   333    0        0     0    0>
        	, <&key_physical_attrs 100 100   439   50        0     0    0>
        	, <&key_physical_attrs 100 100   544   66        0     0    0>

        	// R00 R01 R02 R03 R04
        	, <&key_physical_attrs 100 100  1104   66        0     0    0>
        	, <&key_physical_attrs 100 100  1209   50        0     0    0>
        	, <&key_physical_attrs 100 100  1315    0        0     0    0>
        	, <&key_physical_attrs 100 100  1436   58      400  1486  108>
        	, <&key_physical_attrs 100 100  1557  139     1000  1607  189>

        	// ──────────────────────── HOME ROW ─────────────────────────
        	// L10 L11 L12 L13 L14 L15
        	, <&key_physical_attrs 100 100     0  234  (-1000)   50  284>
        	, <&key_physical_attrs 100 100   109  243  (-1000)  159  293>
        	, <&key_physical_attrs 100 100   219  163   (-400)  269  213>
        	, <&key_physical_attrs 100 100   333  106        0     0    0>
        	, <&key_physical_attrs 100 100   439  156        0     0    0>
        	, <&key_physical_attrs 100 100   544  173        0     0    0>

        	// R10 R11 R12 R13 R14 R15
        	, <&key_physical_attrs 100 100  1104  173        0     0    0>
        	, <&key_physical_attrs 100 100  1209  156        0     0    0>
        	, <&key_physical_attrs 100 100  1315  106        0     0    0>
        	, <&key_physical_attrs 100 100  1429  163      400  1479  213>
	        , <&key_physical_attrs 100 100  1539  243     1000  1589  293>
        	, <&key_physical_attrs 100 100  1648  234     1000  1698  284>

        	// ─────────────────────── BOTTOM ROW ────────────────────────
        	// L20 L21 L22 L23 L24 L25
        	, <&key_physical_attrs 100 100    18  338  (-1000)   68  388>
        	, <&key_physical_attrs 100 100   127  347  (-1000)  177  397>
        	, <&key_physical_attrs 100 100   227  269   (-400)  277  319>
        	, <&key_physical_attrs 100 100   333  212        0     0    0>
        	, <&key_physical_attrs 100 100   439  262        0     0    0>
        	, <&key_physical_attrs 100 100   544  279        0     0    0>

        	// R20 R21 R22 R23 R24 R25
        	, <&key_physical_attrs 100 100  1104  279        0     0    0>
        	, <&key_physical_attrs 100 100  1209  262        0     0    0>
        	, <&key_physical_attrs 100 100  1315  212        0     0    0>
        	, <&key_physical_attrs 100 100  1421  269      400  1471  319>
        	, <&key_physical_attrs 100 100  1521  347     1000  1571  397>
        	, <&key_physical_attrs 100 100  1630  338     1000  1680  388>

        	// ──────────────────────── THUMBS ───────────────────────────
        	// L31 L32 L33
        	, <&key_physical_attrs 100 100   422  384        0     0    0>
        	, <&key_physical_attrs 100 100   540  400     1500   590  450>
        	, <&key_physical_attrs 100 100   649  446     3000   699  496>

        	// R32 R33 R34
        	, <&key_physical_attrs 100 100   999  446  (-3000) 1049  496>
        	, <&key_physical_attrs 100 100  1108  400  (-1500) 1158  450>
        	, <&key_physical_attrs 100 100  1226  384        0     0    0>;
    };
};
